@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4">PRN232 Group 8 - SE1841</h1>
    <p class="lead">Student & Class Management System</p>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            const userRole = Auth.getRole();
            console.log(userRole);
            
            if (userRole) {
                if (userRole === 'Student') {
                }
                else if(userRole === 'Admin') {
                }
                else if(userRole === 'Teacher') {
                }
            } else {
                Auth.logout();
            }
        });
    </script>
}
